"3.1"

Um im dritten Teil besser mit den Daten arbeiten zu können, habe ich den Werten in einigen Spalten Zahlen zugewiesen. Die volle 
Übersicht finden Sie hier:

ROBBERY – STREET = 1
ROBBERY – COMMERCIAL = 2
ROBBERY – CARJACKING = 3
ROBBERY – RESIDENCE = 4
LARCENY = 5
LARCENY FROM AUTO = 6
COMMON ASSAULT = 7
AGG. ASSAULT = 8
ASSAULT BY THREAT = 9
BURGLARY = 10
AUTO THEFT = 11
ARSON = 12
HOMICIDE = 13
RAPE = 14
SHOOTING = 15

------------------
INSIDE = 0
OUTSIDE = 1

------------------
NULL = 0
OTHER = 1
HANDS = 2
KNIFE = 3
FIREARM = 4

-------------------
CENTRAL = 0
SOUTHERN = 1
EASTERN = 2
WESTERN = 3
NORTHERN = 4
NORTHEASTERN = 5
SOUTHEASTERN = 6
NORTHWESTERN = 7
SOUTHWESTERN = 8
SOUTHESTREN = 9
NORTHESTREN = 10

Nun muss ich das Datenset nochmal importieren.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\apps\python\lib\site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\apps\python\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\apps\python\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\apps\python\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in c:\apps\python\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

df = pd.read_csv("BPD_Victim_Based_Crime_Date_Sorted_With_Numbers.CSV", on_bad_lines='skip', sep=';')

In [3]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside / Outside,Weapon,Post,District,Neighborhood,Location 1,Total Incidents
0,11.12.2016,23500,3B,300 SAINT PAUL PL,1,1,0,111,0,Downtown,"(39.2924100000, -76.6140800000)",1
1,11.12.2016,25600,3CF,800 S BROADWAY,2,0,4,213,6,Fells Point,"(39.2824200000, -76.5928800000)",1
2,11.12.2016,30000,6D,1500 PENTWOOD RD,6,1,0,413,5,Stonewood-Pentwood-Winston,"(39.3480500000, -76.5883400000)",1
3,11.12.2016,30000,6D,6600 MILTON LN,6,1,0,424,5,Westfield,"(39.3626300000, -76.5516100000)",1
4,11.12.2016,30000,6E,300 W BALTIMORE ST,5,1,0,111,0,Downtown,"(39.2893800000, -76.6197100000)",1

In [4]:
df['Description'].astype('int')

0          1
1          2
2          6
3          6
4          5
          ..
285802     8
285803     5
285804    11
285805     7
285806     8
Name: Description, Length: 285807, dtype: int32

In [5]:
df['Inside / Outside'].astype('int')

0         1
1         0
2         1
3         1
4         1
         ..
285802    0
285803    0
285804    1
285805    0
285806    0
Name: Inside / Outside, Length: 285807, dtype: int32

In [6]:
df['Weapon'].astype('int')

0         0
1         4
2         0
3         0
4         0
         ..
285802    2
285803    0
285804    0
285805    2
285806    2
Name: Weapon, Length: 285807, dtype: int32

In [7]:
df['District'].astype('int')

0         0
1         6
2         5
3         5
4         0
         ..
285802    5
285803    6
285804    3
285805    3
285806    3
Name: District, Length: 285807, dtype: int32

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285807 entries, 0 to 285806
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CrimeDate         111888 non-null  object
 1   CrimeTime         285807 non-null  int64
 2   CrimeCode         285807 non-null  object
 3   Location          284184 non-null  object
 4   Description       285807 non-null  int64
 5   Inside / Outside  285807 non-null  int64
 6   Weapon            285807 non-null  int64
 7   Post              285807 non-null  int64
 8   District          285807 non-null  int64
 9   Neighborhood      284106 non-null  object
 10  Location 1        284188 non-null  object
 11  Total Incidents   285807 non-null  int64
dtypes: int64(7), object(5)
memory usage: 26.2+ MB

In [9]:
X = df[["Description", "Weapon", "District"]]
y = df[["Inside / Outside"]]
X.head()

   Description  Weapon  District
0            1       0         0
1            2       4         6
2            6       0         5
3            6       0         5
4            5       0         0

In [10]:
len(X[X.isna().any(axis=1)])

0

In [11]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\apps\python\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\apps\python\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\apps\python\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: scipy>=1.1.0 in c:\apps\python\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: joblib>=0.11 in c:\apps\python\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\apps\python\lib\site-packages (from scikit-learn->sklearn) (3.1.0)

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size = 0.2, random_state = 42
)

len(X_train), len(X_test)

(228645, 57162)

In [15]:
"3.2"


from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

algorithms = {
    "Nearest Neighbors" : KNeighborsClassifier(3),
    "Stochastic Gradient Descent" : SGDClassifier(),
    "Decision Tree" : DecisionTreeClassifier(max_depth=5),
    "Random Forest" : RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    "Neural Net" : MLPClassifier(alpha=1, max_iter=1000),


}


for name, algorithm in algorithms.items():
    algorithm.fit(X_train, y_train.values.ravel())

    score = algorithm.score(X_test, y_test)
    print(name, round(score,2))

Nearest Neighbors 0.73
Stochastic Gradient Descent 0.48
Decision Tree 0.76
Random Forest 0.68
Neural Net 0.75

C:\Apps\Python\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:699: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

Ich habe mich für den Algorithmus "Decision Tree" entschieden. Ich habe mich für diesen entschieden, weil
der Algorithmus oben dem Decision Tree die beste Wertung zugewiesen hat. Darauf hin habe ich ein wenig zum Decision Tree 
informiert, was meine Wahl nur noch mehr bestätigt hat. Jedoch konnte ich oben nicht alle möglichen Algorithmen testen, weil
ein paar sich nicht testen liessen und das Programm nicht aufhörte.

In [17]:
"3.3"

import joblib
joblib.dump(algorithms["Decision Tree"], 'decision_tree_df.joblib')
best_model = joblib.load('decision_tree_df.joblib')
best_model

DecisionTreeClassifier(max_depth=5)

In [38]:
crime_outside = pd.DataFrame([[1, 0, 0,]], columns=X_test.columns)
## "Description", "Weapon", "District"
crime_outside.head()

crime_inside = pd.DataFrame([[8, 2, 4,]], columns=X_test.columns)
## "Description", "Weapon", "District"
crime_inside.head()

ab = pd.concat([crime_outside, crime_inside])
ab.head()

   Description  Weapon  District
0            1       0         0
0            8       2         4

In [39]:
predictions = best_model.predict(pd.concat([crime_outside, crime_inside]))
for person, prediction in zip(["the first crime happened", "the second crime happened"], predictions):
    print(f"{person} {'inside' if prediction == 0  else 'outside'}")

the first crime happened outside
the second crime happened inside

Die Predictions drehen sich darum, ob das Verbrechen innerhalb eines Gebäudes oder ausserhalb eines Gebäudes stattfand. Also "Inside / Outside". Es wird anhand der Beschreibung, Waffe und dem Distrikt bestimmt, ob das Verbrechen in einem Gebäude oder ausserhalb eines Gebäudes stattgefunden hat. Der Algorithmus hat korrekt bestimmt, dass das erste Verbrechen, bei dem die Konvertierung in der Reihenfolge «Description», "Weapon", "District" wie folgt lautet: 1 -> «ROBBERY – STREET», 0  -> «NULL>, 0 -> «CENTRAL», ausserhalb eines Gebäudes stattgefunden hat. Die Zweite Prediction war ebenfalls richtig.